*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
body{
    height: 100dvh;
    width: 100dvw;
    background-color: dimgray;
}
h1{
    font-family: "Roboto", "Poppins", sans-serif;
    color: white;
}